.menu-list-item{
    /*height: 100%;*/
    /*width: 100%;*/
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}

.menu-list-item:hover{

    background-color: #ccc;

}

.no-dishes-found-style {

    margin: auto;
    width: 50%;
    padding: 10px;
}